# Ignore Assets and logs dirctories
repitframework/Assets/
repitframework/logs/
repitframework/ModelDump/
repitframework/plots/*
*.pyc
*.png
.vscode/
**/__pycache__
repitframework.egg-info/
**/[0-9]/       # Ignore integer directories
**/[0-9]*.[0-9]*/ # Ignore float directories
!/**/0/      # Except this directory
/**/10/
/random/*
!/random/*.ipynb
!/random/*.py
/order_of_accuracy/*
build/
data/
random/
UNet_Transformer_Share/
personal.md